<div id="technical" class="container-fluid mt-4 mb-n3 bg-light p-4 ">
<div class="container mt-4 border rounded p-4 bg-white">
<h3>Credits</h3>
<div class="row my-2 justify-content-center">
<div class="col-md-8 p-4">
<ul>
<li>Chinese Australian Family Historians of Victoria (<a href="http://www.cafhov.com">www.cafhov.com</a>)</li>
<li>Terry Young - Website development and photography</li>
<li>Anna Wolf - Transcription of headstone inscriptions</li>
</ul>
<p>&nbsp;</p>
<p>Contributions/Support by</p>
<ul>
<li>Sophie Couchman</li>
<li>Linda Wong</li>
<li>Andrew Huang</li>
<li>John Griffiths</li>
<li>Derek Leong</li> 
<li>Jeremy Hunt</li>
<li>Carly Peters (SMCT)</li>
<li>Southern Metropolitan Cemetery Trust</li>
</ul>
<p>&nbsp;</p>
<p>This digital collection is built with <a href="https://collectionbuilder.github.io/" target="_blank" rel="noopener">CollectionBuilder</a>, an open source framework for creating digital collection and exhibit websites that is developed by faculty librarians at the University of Idaho Library following the <a href="https://lib-static.github.io" target="_blank" rel="noopener">Lib-Static</a> methodology.</p>
</div>
<div class="col-md-4 text-center">&nbsp;</div>
</div>
</div>
</div>
